#Assignment 1
1. Submit the .ipynb file from todays class
## 8. Lists
- ### Copying a list with `copy()`

In [ ]:
num_1 = 15
num_2 = num_1
num_2 += 2
num_1 += 1
print(num_1 , num_2)

16 17

In [3]:
list_1 = list(range(5))
list_2 = list_1
print(list_1,list_2)
list_1.append("python")
list_2.append("Day 2")
print(list_1)
print(list_2)
print(list_1 is list_2)

[0, 1, 2, 3, 4] [0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 'python', 'Day 2']
[0, 1, 2, 3, 4, 'python', 'Day 2']
True

In [ ]:
list_3 = list_1.copy()
print(list_3 is list_1)
list_3.remove("python")
print(list_3)
print(list_1)

False
[0, 1, 2, 3, 4, 'Day 2']
[0, 1, 2, 3, 4, 'python', 'Day 2']

## 9. Tuples
- ### Assignment and Unpacking

In [ ]:
# tuple
# data structure that we do not want to be changed
# data modle in AI which we should not change
# compact storage , tuple will use minimum memory
# list will have trailing memeory since list is supposed to be changed
tuple_1 = (2, False , "Words",3.1415)
print(type(tuple_1))
print(tuple_1)
print(tuple_1[0])

tuple_2 = tuple(list_1)
print(tuple_2)

<class 'tuple'>
(2, False, 'Words', 3.1415)
2
(0, 1, 2, 3, 4, 'python', 'Day 2')

In [ ]:
var_1 , var_2 , var_3 , var_4 = tuple_1
print(var_1 , var_2 , var_3 , var_4)
print(len)

In [ ]:
# create a tuple with numbers from 60 to 250
list_a = list(range(60,250))
print(list_a)
tuple_a = tuple(list_a)
print(tuple_a)
# then assign 73 and 150 to two variables from the tuple  
var_1 = tuple_a[13]
print(var_1)
var_2 = tuple_a[90]
print(var_2)
print(tuple_a.index((73)))
# 1st occurance of the value specified (value of 130 & 213)
print(tuple_a.index((130)))
print(tuple_a.index((213)))

[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249]
(60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249)
73
150
13
70
153

## 10. Dictionaries
- ### Assignment

In [ ]:
# "Key": value -> any of the data types or structures
# { }
# json.load()
# data frame can be converted to dictionaries
# framework to hold variales
dict_ex_1 = {"language":"Python","ver":3.8,"installed":True, "data_struct_tuple":(3,2,3,5)}
print(dict_ex_1)
print(dict_ex_1.keys())
print(dict_ex_1.values())
print(dict_ex_1.items())

{'language': 'Python', 'ver': 3.8, 'installed': True, 'data_struct_tuple': (3, 2, 3, 5)}
dict_keys(['language', 'ver', 'installed', 'data_struct_tuple'])
dict_values(['Python', 3.8, True, (3, 2, 3, 5)])
dict_items([('language', 'Python'), ('ver', 3.8), ('installed', True), ('data_struct_tuple', (3, 2, 3, 5))])

- ### Accessing Items

In [ ]:
# disctionary["key"]
language = dict_ex_1["language"]
print(language)

- ### Update and add Values with `update()`

In [ ]:
# already exisits , will update existing
# if not exists , will create new key value pair
dict_ex_1.update({"ver":3.9})
print(dict_ex_1)
dict_ex_1.update({"upcoming_ver":3.12})
print(dict_ex_1)

{'language': 'Python', 'ver': 3.9, 'installed': True, 'data_struct_tuple': (3, 2, 3, 5)}
{'language': 'Python', 'ver': 3.9, 'installed': True, 'data_struct_tuple': (3, 2, 3, 5), 'upcoming_ver': 3.12}

- ### `keys()` and `values()`

In [ ]:
print(dict_ex_1)
print(dict_ex_1.keys())
print(dict_ex_1.values())

{'language': 'Python', 'ver': 3.9, 'installed': True, 'data_struct_tuple': (3, 2, 3, 5), 'upcoming_ver': 3.12}
dict_keys(['language', 'ver', 'installed', 'data_struct_tuple', 'upcoming_ver'])
dict_values(['Python', 3.9, True, (3, 2, 3, 5), 3.12])

## 11. Control Flow
- ### IF

In [ ]:
# if <cond>:
#   statement1
#   statement2
a , b = 3 , 4
if a < b:
  print("True")

if a > b:
  print("False")

if a + b >= 5:
  print(a+b)
  print(a**2)
  b = a
  print(b)

list_bool = list(range(3))
list_empty = []
# bool can be applied for list , string , tuples
print(bool(list_bool),bool(list_empty))

# not key word
print(not True)
print(not False)

True
7
9
3
True False
False
True

In [ ]:
if list_empty:
  print(len(list_empty))

if not list_empty:
  print("second one")

if not list_bool:
  print(len(list_bool))

second one

In [ ]:
# AND , OR
# a AND b = true iff a and b are both true
# a OR b = true if a or b are true
if True and False:
  print("AND condition 1")

if True and True:
  print("AND condition 2")

if list_bool and list_empty: 
  print("Lists 1 !")

if list_bool and not list_empty: # -> True and Not False -> True and True
  print("Lists 2 !")

AND condition 2
Lists 2 !

In [ ]:
if list_bool or list_empty: 
  print("Lists 1 !")

Lists 1 !

In [ ]:
# and make the condition fail using not
if not list_bool or list_empty: 
  print("Lists 2 !")

name = "chiranth"
if name:
  print(name)

empty_string = ""
if not empty_string: # len is 0 -> bool(0) is False -> not false is true
  print(empty_string)
  print(name)

chiranth

chiranth

- ### ELSE

In [ ]:
# if cond:
#   statements
# else:
#   statements_else

num_1 , num_2 = 780 , 123

if num_1 < num_2:
  print(num_2)
else:
  print(num_1)

780

- ### ELIF

In [ ]:
# 2nd condition will skipped if 1st condition is already resulting in true  
num_1 , num_2 = 400,40

if num_1 < num_2:
  print(num_2)
elif num_1 == num_2:
  print("Equal_1")
else:
  print("All conditions failed")

All conditions failed

- ### Shorthand If Else

In [ ]:
# statement 1 if <cond> else statement_2
print("greater than") if 3 > 4 else print("less than")
num_ifelse = 3 if 3 > 4 else 4
print(num_ifelse)

less than
4

In [ ]:
# create a list if list has > 4 elements , else add an element
list_var = [2,3,4,2,5]
list_var.remove(2) if len(list_var) > 4 else list_var.append(5)
print(list_var)

[3, 4, 2, 5]

## 12. Loops
- ### FOR loop

In [ ]:
list_iter = list(range(5))
for i in list_iter:
  print(i)
  print("hello world")

0
hello world
1
hello world
2
hello world
3
hello world
4
hello world

In [ ]:
iter_tuple = tuple(range(5))
for i in iter_tuple:
  print(i+1)

1
2
3
4
5

In [ ]:
for key in dict_ex_1.keys():
  print(dict_ex_1[key])

Python
3.9
True
(3, 2, 3, 5)
3.12

In [ ]:
# continue and break
for i in range(100):
  if i == 75:
    continue
  if i == 80:
    break
  list_iter.append(i)

print(list_iter)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79]

- ### WHILE loop

In [ ]:
# while <cond>:
# statements
list_iter = list(range(5))
while list_iter:
  list_iter.pop()
  print(list_iter)

print(list_iter)

list_iter = list(range(5))
while list_iter:
  print(list_iter)
  list_iter.pop()

print(list_iter)

list_iter = list(range(5))
while list_iter:
  print(list_iter)
  i = list_iter.pop()
  print(i)
  if i == 2:
    continue
  if i == 3:
    break
    print(i+100)
print(list_iter)

[0, 1, 2, 3]
[0, 1, 2]
[0, 1]
[0]
[]
[]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2]
[0, 1]
[0]
[]
[0, 1, 2, 3, 4]
4
[0, 1, 2, 3]
3
[0, 1, 2]

In [ ]:
# print elements of string break if its a vovel
# use for loop
vovel_str = "aeiou"
eg_string = "rhythmic"
vovel_str_list = list(vovel_str)
eg_string_list = list(eg_string)
while eg_string_list:
  vari = eg_string_list.pop()
  if vari not in vovel_str_list:
      print(vari)
      break
  else:
    continue
    print(vari)

c

In [4]:
#1. Submit the .ipynb file from todays class

#2. Python string | ascii_lowercase - GeeksforGeeks
'''A Computer Science portal for geeks. It contains well written, well thought and well explained computer science and programming articles, quizzes and practice/competitive programming/company interview Questions.
Given a string of words, you need to find the highest scoring word.
Each letter of a word scores points according to its position in the alphabet: a = 1, b = 2, c = 3 etc.
For example, the score of abad is 8 (1 + 2 + 1 + 4).
You need to return the highest scoring word as a string.
If two words score the same, return the word that appears earliest in the original string.
All letters will be lowercase and all inputs will be valid.
Comment your code to explain what is happening in each logical step.'''
values ={
    'a':1,
    'b':2,
    'c':3,
    'd':4,
    'e':5,
    'f':6,
    'g':7,
    'h':8,
    'i':9,
    'j':10,
    'k':11,
    'l':12,
    'm':13,
    'n':14,
    'o':15,
    'p':16,
    'q':17,
    'r':18,
    's':19,
    't':20,
    'u':21,
    'v':22,
    'w':23,
    'x':24,
    'y':25,
    'z':26,
}
word_value = []
string_of_words = "hi ih"
list_of_words = string_of_words.split()
print(list_of_words)
for words in list_of_words:
  #print(words)
  value = 0
  for char_o_b_o in words:
    value = value + values[char_o_b_o]
  #print(value)
  word_value.append(value)
print(word_value)
max_value = max(word_value)
index_no = word_value.index(max_value)
print(list_of_words[index_no])

['hi', 'ih']
[17, 17]
hi

In [1]:
def word_value(input_word):
      values = {
        'a': 1,
        'b': 2,
        'c': 3,
        'd': 4,
        'e': 5,
        'f': 6,
        'g': 7,
        'h': 8,
        'i': 9,
        'j': 10,
        'k': 11,
        'l': 12,
        'm': 13,
        'n': 14,
        'o': 15,
        'p': 16,
        'q': 17,
        'r': 18,
        's': 19,
        't': 20,
        'u': 21,
        'v': 22,
        'w': 23,
        'x': 24,
        'y': 25,
        'z': 26
      }      
      value = 0
      for letter in input_word:
          value += values[letter]
      return value

def high(x):
    word_list = x.split(" ")

    word_values = []
    for word in word_list:
        word_values.append(word_value(word))

    max_value = max(word_values)
    index_of_max = word_values.index(max_value)

    return word_list[index_of_max]

high("hi this is chiranth")

'chiranth'

In [ ]:
'''https://www.geeksforgeeks.org/python-string-ascii_lowercase/
3. Write a program that takes input of two numbers, say num_1 and num_2, it should generate the fibonacci numbers using these two as the starting point till the next 10 numbers
Example: If the input is 2 and 6 the output should be 2, 6, 8, 14, 22, 36, 58, 94, 152, 246
   If the input is 5 and -3 the output should be 5, -3, 2, -1, 1, 0, 1, 1, 2, 3
Use the input() documentation to implement taking input from the user:
https://www.geeksforgeeks.org/how-to-take-integer-input-in-python/
Comment each line of code to explain the logic used in achieveing the results.'''
num_1 = 2
num_2 = 6
fibonacy_list = list()
fibonacy_list.append(num_1)
fibonacy_list.append(num_2)
while len(fibonacy_list)!= 10:
  new_fib_val = num_1 + num_2
  fibonacy_list.append(new_fib_val)
  num_1 = num_2
  num_2 = new_fib_val
print(fibonacy_list)

[2, 6, 8, 14, 22, 36, 58, 94, 152, 246]

## 13. Functions
- ### Defining a function

- ### Paramters & Arguments

- ### Default Parameters

- ### `return`

- ### Scope