<a href="https://colab.research.google.com/github/CHIRANTH-C/pythonbasics/blob/main/Python_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics
## Guiding Principle of Python's Design

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 1. Variable Assignment and Basic Data Types
Variable naming rules: 
1. Variable names are case sensitive
2. Variable must start with a character or underscore
3. Variable names can only contain alphanumeric characters and underscores
4. Variable name cannot be a python keyword

- ### Integers

In [29]:
number_first = 1
NUMBER_FIRST = 2
_num = 3
num_2 = 4
print(number_first)
print(NUMBER_FIRST)
print(_num)
print(num_2)

1
2
3
4

- ### Strings

In [30]:
name = "Hello, world!"
single_string = "First python class"
print(name)
print(single_string)
alphanumeric = 'num12345'
single_char = 'a'
print(alphanumeric)
print(single_char)

Hello, world!
First python class
num12345
a

- ### Float

In [31]:
pie = 3.1415
division = 1/2
print(pie)
print(division)

3.1415
0.5

- ### Booleans

In [32]:
bool_1 = True
bool_2 = False
a = 0
bool_a = bool(a)
print(bool_a)
b = 1
bool_b = bool(b)
print(bool_b)
bool_string = ""
print(bool(bool_string))
bool_eg = "Python"
print(bool(bool_eg))
num_float = 3.0
bool(num_float)

False
True
False
True

True

- ### Multiline Assignment

In [33]:
num_1 , num_2 , num_3 , Var_4 = 1 , 2 , 3 , "Happy Day!"
print(num_1,num_2,num_3,Var_4)
var_a , var_b , var_c , var_d = 1 , "this!" , 3.0 , False
print(var_a,var_b,var_c,var_d)

1 2 3 Happy Day!
1 this! 3.0 False

## 2. Comments

In [34]:
# this is an example comment line
a = 50
# a = 30
#Â a = 60
print(a)

50

## 3. Python `type()` function

In [35]:
print(var_a, var_b, var_c , var_d)
print(type(var_a), type(var_b), type(var_c) , type(var_d))

1 this! 3.0 False
<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## 4. Type Casting

In [36]:
# variables to string
print(type(var_a), type(var_b), type(var_c), type(var_d))
int_to_string = str(var_a)
print('int_to_string : '+int_to_string,type(int_to_string))
float_to_string = str(var_c)
print('float_to_string : '+float_to_string,type(float_to_string))
bool_to_string = str(var_d)
print('bool_to_string : '+bool_to_string,type(bool_to_string))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>
int_to_string : 1 <class 'str'>
float_to_string : 3.0 <class 'str'>
bool_to_string : False <class 'str'>

## 5. Strings

- ### Multiline Strings

In [37]:
multiline ='''this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_'''
print(multiline)
four_letters ="four"
print(four_letters)

this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_
four

- ### String Indexing

In [38]:
print(multiline[0],multiline[3],multiline[5])
print(four_letters[0],four_letters[1],four_letters[2],four_letters[3])
# negative intexing , last is -1
#  f  o  u  r
#  0  1  2  3
# -4 -3 -2 -1
print(four_letters[-4],four_letters[-3])
print(multiline[-1])

t s i
f o u r
f o
_

- ### String functions `len(), lower(), strip(), replace()`

In [39]:
print(multiline)
len_of_string = len(multiline)
print('len_of_string is : '+str(len_of_string))
upper_multiline = multiline.upper()
print(upper_multiline)
print(upper_multiline.lower())
space = "    stars     "
print(space)
print(space.strip())
# print(upper_multiline.strip('I'))
relace_upper_string = upper_multiline.replace("THIS",four_letters)
print(relace_upper_string)

this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_
len_of_string is : 120
THIS IS A STRING PARAGRAPH,
THIS IS LINE NUMBER 2,
AND INCLUDING THE 3RD LINE AS WELL,
INCLUDES SOME SPL CHARACTERS !@#_
this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_
    stars
stars
four IS A STRING PARAGRAPH,
four IS LINE NUMBER 2,
AND INCLUDING THE 3RD LINE AS WELL,
INCLUDES SOME SPL CHARACTERS !@#_

- ### String Slicing

In [40]:
print(multiline)
# [start_index:end_index] - [inclusive: exclusive]
print('\n')
print(multiline[3:15])
print('\n')
print(multiline[:5])
print('\n')
print(multiline[:6])
print('\n')
print(multiline[5:])
print('\n')
print(multiline[7:])
print('\n')
print(multiline[-4:])
print('\n')
print(multiline[-4:-1])
print('\n')
print(multiline[5:-15])

this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_


s is a strin


this


this i


is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_


 a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_


!@#_


!@#


is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl

- ### String Concatenation

In [41]:
concact_string = multiline +" "+ upper_multiline
print(concact_string)
repetation_3_times = multiline * 3
print(repetation_3_times)

this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_ THIS IS A STRING PARAGRAPH,
THIS IS LINE NUMBER 2,
AND INCLUDING THE 3RD LINE AS WELL,
INCLUDES SOME SPL CHARACTERS !@#_
this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_this is a string paragraph,
this is line number 2,
and including the 3rd line as well,
includes some spl characters !@#_

## 6. Comparison , Identity, Membership Operators
`>=, ==, =<, in, not in, is, is not`

In [42]:
# try using > < >= <= ==
# integers and float
print(4>1)
print(3<4)
print(0 == 1)
print(3 >= 3)
print(2 <= 4)
print('\n')
print(4.2>1.2)
print(3.1<4.5)
print(0.4 == 1.5)
print(3.7 >= 3.2)
print(2.3 <= 4.2)
print('\n')
print('indentity operators!')
iden_1 = 1
iden_2 = 1
print(iden_1 is iden_2)
iden_1 = 1
iden_2 = 4
print(iden_1 is iden_2)
print(multiline is multiline)
print(multiline is not upper_multiline)
print(multiline == upper_multiline)
print("result : "+ str(multiline == upper_multiline.lower()))
print("result : "+ str(multiline is upper_multiline.lower()))
iden_str1 = "abc"
iden_str2 = "abc"
print(iden_str1 is iden_str2)
iden_str1 = "abc"
iden_str2 = "ABC"
print(iden_str1 is iden_str2.lower())

True
True
False
True
True


True
True
False
True
True


indentity operators!
True
False
True
True
False
result : True
result : False
True
False


## 7. Arithmetic and Assignment Operators

In [43]:
# + - * / ** %
# exercise
print(number_first + NUMBER_FIRST)
print(2+2)
print(4-2)
print(4/2)
print(6*3)
print(6**3)
print(8%3)
# assignment operators on numbers
var = 1
var += 2
var *= 4
var -= 2
var /= 3
var %= 2
print(var)

# assignment operators on strings + , *
string_val = "chiranth"
string_val += "c"
print(string_val)
string_val = "chiranth"
string_val *= 2
print(string_val)

3
4
2
2.0
18
216
2
1.3333333333333335
chiranthc
chiranthchiranth

## 8. Lists
- ### Assignment

In [44]:
single_digits = [0,2,3,4,5,6,7,8,9,10]
print(single_digits)
hetero_data = [1,"python" , False , 3.14]
print(hetero_data)
multi_list = multiline.split()
print(multi_list)
# range(stop) 0 to stop exludes stop
# range(start , stop) start to stop
integers = list(range(100))
print(integers)
tf_fif = list(range(25,50))
print(tf_fif)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 'python', False, 3.14]
['this', 'is', 'a', 'string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'line', 'as', 'well,', 'includes', 'some', 'spl', 'characters', '!@#_']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

- ### List Index and Slicing

In [45]:
# intex starts from 0
print(hetero_data[0])
print(hetero_data[-1])

# slicing
print(multi_list[3:])
print(multi_list[3:-3])

1
3.14
['string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'line', 'as', 'well,', 'includes', 'some', 'spl', 'characters', '!@#_']
['string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'line', 'as', 'well,', 'includes', 'some']

- ### List functions `insert(), append(), extend(). remove(), sort()`

In [46]:
print(len(multi_list))
multi_list.insert(0, "New Added Value") # returns None , updates original list
print(multi_list)
print(len(multi_list))
multi_list.insert(-8, "New Added Value") # returns None , updates original list
print(multi_list)
print(len(multi_list))
multi_list.insert(-2, 'Chiranth') # returns None , updates original list
print(multi_list)
print(len(multi_list))

22
['New Added Value', 'this', 'is', 'a', 'string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'line', 'as', 'well,', 'includes', 'some', 'spl', 'characters', '!@#_']
23
['New Added Value', 'this', 'is', 'a', 'string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'New Added Value', 'line', 'as', 'well,', 'includes', 'some', 'spl', 'characters', '!@#_']
24
['New Added Value', 'this', 'is', 'a', 'string', 'paragraph,', 'this', 'is', 'line', 'number', '2,', 'and', 'including', 'the', '3rd', 'New Added Value', 'line', 'as', 'well,', 'includes', 'some', 'spl', 'Chiranth', 'characters', '!@#_']
25

In [47]:
print(len(multi_list))
hetero_data[0] += 1
hetero_data[1] *= 2
hetero_data[2] = True
hetero_data[3] = list(range(3))
print(hetero_data)

25
[2, 'pythonpython', True, [0, 1, 2]]

In [48]:
hetero_data.append("2")
print(hetero_data)

[2, 'pythonpython', True, [0, 1, 2], '2']

In [49]:
hetero_data.append([1,2,3])
print(hetero_data)

[2, 'pythonpython', True, [0, 1, 2], '2', [1, 2, 3]]

In [50]:
hetero_data.extend([1,2,3])
print(hetero_data)

[2, 'pythonpython', True, [0, 1, 2], '2', [1, 2, 3], 1, 2, 3]

In [51]:
# remove for the occurance
hetero_data.remove(2)
print(hetero_data)
hetero_data.remove(2)
print(hetero_data)

['pythonpython', True, [0, 1, 2], '2', [1, 2, 3], 1, 2, 3]
['pythonpython', True, [0, 1, 2], '2', [1, 2, 3], 1, 3]

In [52]:
random_numbers = [1,5,3,1,2,-10,20,99]
random_numbers.sort()
print(random_numbers)
random_numbers.sort(reverse=True)
print(random_numbers)

[-10, 1, 1, 2, 3, 5, 20, 99]
[99, 20, 5, 3, 2, 1, 1, -10]

In [53]:
multi_list.sort()
print(multi_list)
multi_list.sort(reverse=True)
print(multi_list)
case_list = ['a','Z','b','Z','1','&']
print(case_list)
case_list.sort()
print(case_list)
case_list.sort(reverse=True)
print(case_list)

['!@#_', '2,', '3rd', 'Chiranth', 'New Added Value', 'New Added Value', 'a', 'and', 'as', 'characters', 'includes', 'including', 'is', 'is', 'line', 'line', 'number', 'paragraph,', 'some', 'spl', 'string', 'the', 'this', 'this', 'well,']
['well,', 'this', 'this', 'the', 'string', 'spl', 'some', 'paragraph,', 'number', 'line', 'line', 'is', 'is', 'including', 'includes', 'characters', 'as', 'and', 'a', 'New Added Value', 'New Added Value', 'Chiranth', '3rd', '2,', '!@#_']
['a', 'Z', 'b', 'Z', '1', '&']
['&', '1', 'Z', 'Z', 'a', 'b']
['b', 'a', 'Z', 'Z', '1', '&']

In [59]:
# Assignments
#2. Write a Python program that takes a string and prints out the following information: (COMMENT EACH lines of code)
string_var = "pneumonoultramicroscopicsilicovolcanoconiosis"
#	2.1. The data type
print("Output of 2.1. assignment is :")
print(type(string_var)) # type function will find the type of the string_var variable and returns the type of the variable
print("\n")
#	2.2. The length
print("Output of 2.2. assignment is :")
print(len(string_var)) # len function will return the length of the string_var
print("\n")
#	2.3. The first and last characters
print("Output of 2.3. assignment is :")
print('first character is : '+string_var[0]) # returns 1st characer of the string using +ve indexing
print('last character is : '+string_var[-1]) # returns 1st characer of the string using -ve indexing
print("\n")
#	2.4. All uppercase letters
print("Output of 2.4. assignment is :")
print('uppercase of string_var is : '+ string_var.upper()) # <var>.upper will convert the string to upper case
print("\n")
#	2.5. The string contains all the vowels (using the membership operator)
print("Output of 2.5. assignment is :")
string_var = "pneumonoultramicroscopicsilicovolcanoconiosis" # assign string to a variable
vovels_variable = "aeiou" # assing a string that has vovels to a variable
char_count = 0 # initialise the character count to 0
for vovels_var in vovels_variable: # start looping on vovels_variable and itterate on each character of the string
  if vovels_var in string_var: # if vovels_var is present in the string_var
    char_count += 1 # then increment the char_count by 1
if char_count == len(vovels_variable): # if the character count exactly matched the length of the vovel string
  print("all vovels are present in this string : "+ string_var) # then print the string has all the vovel in it
else: # else (if not)
  print("some of the vovels are not present in this string : "+ string_var) # then print the string do not have all the vovels

Output of 2.1. assignment is :
<class 'str'>


Output of 2.2. assignment is :
45


Output of 2.3. assignment is :
first character is : p
last character is : s


Output of 2.4. assignment is :
uppercase of string_var is : PNEUMONOULTRAMICROSCOPICSILICOVOLCANOCONIOSIS


Output of 2.5. assignment is :
all vovels are present in this string : pneumonoultramicroscopicsilicovolcanoconiosis

In [61]:
'''3. Write a python program that takes a string, converts it into a list and converts it into a palindrome by creating a copy of the list and concatinating both strings.(COMMENT EACH lines of code)
example: 
	if string_example = "programmer"
	list1 = list(example) # ['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r']
	list2 should be reverse of list1
	output should be letters of list1 + list2 so that it forms a palindrome.
	Use the join() function to achieve this.'''
print("Output of 3. assignment is :")
string_example = "programmer" # initialise the string variable and assign the string value
list1 = list(string_example) # convert the string to list and assign it to list1
list2 = list() # cerate an empty list2
print(list1) # print the 1st list1
for i in range(len(list1)): # start looping on the list and itterate on each value of the list
     last_item = list1.pop() # extract the last value of this list using pop function and store it in a variable called last_item
     list2.insert(i, last_item) # insert these elements that gets extracted to list2
print(list2) # print the reversed list value
rev_of_string_example = "".join(list2) # join each character in the list2 and save it as a string in rev_of_string_example variable
print(rev_of_string_example) # print the reversed string
result = string_example+rev_of_string_example # concatinate two string both actual and reversed to get a palindrome string
print("result : "+result) # print the palindrome result to the console

Output of 3. assignment is :
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r']
['r', 'e', 'm', 'm', 'a', 'r', 'g', 'o', 'r', 'p']
remmargorp
result : programmerremmargorp